name: LLMOps Build, Scan, and Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch: # Allow manual trigger from the GitHub UI

# Define environment variables based on your Kubernetes and Docker files
env:
  IMAGE_NAME: llmops-fastapi
  IMAGE_TAG: latest
  IMAGE_REPO: ghcr.io/${{ github.repository_owner }}/llmops-fastapi

  DEPLOYMENT_FILE: deployment.yaml
  SERVICE_FILE: service.yaml
  DEPLOYMENT_NAME: gpt-huggingface
  CONTAINER_NAME: gptcontainer

jobs:
  build-push-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build -t ${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }} .

      - name: Log in to GitHub Container Registry
        run: echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push Docker Image to GitHub Container Registry
        run: |
          docker push ${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }}

  trivy-scan:
    runs-on: ubuntu-latest
    needs: build-push-docker

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Authenticate Docker for Trivy
        run: | 
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      
      - name: Trivy Scan with GitHub Container Registry
        run: |
          docker run --rm \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v $HOME/.cache/trivy:/root/.cache \
          aquasecurity/trivy:latest image --severity HIGH,CRITICAL \
          ${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }}

  deploy-kubernetes:
    runs-on: ubuntu-latest
    needs: trivy-scan

    steps:
      - name: Checkout Code
      - uses: actions/checkout@v4

      - name: Setup Kubernetes Cluster
        run: |
          curl -s https://raw.githubusercontent.com/k3d-io/k3d/main/install.sh | bash 
          k3d cluster create llmops --api-port 6550 -p "30007:30007@server:0" || echo "Cluster exists"

      - name: Login for Kubernetes
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      
      - name: Pull and Import image to Kubernetes
        run: |
          docker pull ${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }}
          k3d image import ${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }} --cluster llmops

      - name: Deploy Kubernetes
        run: |
          kubectl apply -f ${{ env.DEPLOYMENT_FILE }}
          kubectl apply -f ${{ env.SERVICE_FILE }}

          kubectl set image deployment/${{ env.DEPLOYMENT_NAME }} \
            ${{ env.CONTAINER_NAME }}=${{ env.IMAGE_REPO }}:${{ env.IMAGE_TAG }} --record

      - name: Kubernetes Rollout
        run: | 
          kubectl rollout status deployment/${{ env.DEPLOYMENT_NAME }} --timeout=180s

      - name: Post Deploy Success
        run: echo "Deploy successfully!"